# Security execution prevention
# Blueprint Section 10
<IfModule mod_php7.c>
    php_flag engine off
</IfModule>
<IfModule mod_php.c>
    php_flag engine off
</IfModule>
Options -ExecCGI
AddType text/plain .php .php3 .php4 .php5 .phtml .pl .py .jsp .asp .sh .cgi
